 <li class="ng-scope">
     <div id="ci_catContainer"><select id="extNavBox">
             <option ></option>
         </select>
    </div>
 </li> 

 <li class="ng-scope">
     <div id="extNavDetails" class="hidden">
          <div id="ci_catCountContainer"><span id="ci_catCount"></span></div>        
      </div>
     </li>

 <li class="ng-scope">
     <div id="ci_plusMinusContainer" class="hidden" >
            <div id="ci_cataddIconContainer"><img class="BBIcon"></div>
            <div id="ci_plusContainer"><span class="fa fa-2x fa-plus-circle" style=""></span></div>
            <div id="ci_minusContainer"><span class="fa fa-2x fa-minus-circle" style=""></span></div>
        </div>
     </li>      