 <li class="ng-scope">
     <div id="ci_More">
         <div id="ci_More_Text">Ext</div>
         <div id="ci_caret_Nav"><span class="ci_caret caret"></span></div>
     </div>
     <div id="ci_backContainer"><span id="ci_back" style="font-size: x-large;">&lt</span></div>
     <div id="ci_catContainer"><select id="extNavBox">
             <option ></option>
         </select>
         <select name="" id="extNavDimensions" class="hidden">
             <option value=""></option>     
         </select>
         <select name="" id="extNavAcoustics" class="hidden">
             <option value=""></option>
         </select>
         <select name="" id="extNavAttributes" class="hidden">
             <option value=""></option>
         </select>
         <select name="" id="extNavMeasures" class="hidden">
             <option value=""></option>
         </select>
    </div>
    <div id="ci_forwardContainer"><span id="ci_forward" style="font-size: x-large;" >&gt</span></div>
 </li> 

 <li class="ng-scope">
     <div id="extNavDetails" class="hidden">
          <div id="ci_catCountContainer"><span id="ci_catCount" class="ci_catCount"></span>
          <span id="Dimensions_Count" class="ci_catCount hidden"></span>
          <span id="Acoustics_Count" class="ci_catCount hidden"></span>
          <span id="Attributes_Count" class="ci_catCount hidden"></span>
          <span id="Measures_Count" class="ci_catCount hidden"></span>
          </div> 
            
      </div>
     </li>

 <li class="ng-scope">
     <div id="ci_plusMinusContainer" class="hidden" >
            <div id="ci_cataddIconContainer"><img class="BBIcon"></div>
            <div id="ci_plusContainer"><span class="fa fa-2x fa-plus-circle" style=""></span></div>
            <div id="ci_minusContainer"><span class="fa fa-2x fa-minus-circle" style=""></span></div>
        </div>
     </li>      